.table1{
    left: 3%;
    width: 94%;
    height: 500px;
    position: relative;

}
.col {
    padding-top: 20px;
    position: relative;
    vertical-align: top;
    margin: auto;
}
.data{
    border: 3px solid #8f8f8f;
    width: 46%;
    height: 100%;
    position: relative;
    vertical-align: top;
    }
#source {
    position: relative;
    width: 99%;
    height: 99%;
}
header{
    padding-top: 10px;
    padding-left: 20px;
    height: 80px;
    position: relative;
    font-family: Geneva, Georgia, Verdana, Arial, Sans-Serif;
}
#title:hover {
    background-color: #000000;
}
#title {
    background-color: #777777;
    border-radius: 5px;
    text-align: center;
    font-family: Geneva, Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 250px;
    height: 25px;
    float: right;
    position: relative;
    z-index: 999;
}

#convert{
    margin:0 auto;
    display:block;
}
.headers{
    margin-bottom: -5px;
    margin-top: 0;}

#result{
    white-space: pre-wrap;
}
.newP{
    margin-bottom: -5px;
}